.container {
    display: flex;
    /* flex-direction: row; default - inline */
    /* flex-direction: column - full width; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
}

.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.flex-item {
    width: 400px;
    height: 50px;
}